{{#each characters as |character|}}
  <!-- log character -->
  <div class="char-item row pd-15" data-id="{{character.id}}">
    <div class="col-3 char-img item-div">
      <!-- need if / else img url validator here -->
      <img class="img-c cover" src="{{character.img_working}}">
      <span><strong>{{character.id}}</strong></span>
    </div>
    <div class="col-4 char-head item-div">
      <h3>
        {{limit character.first_name 15}}
        <br />
        {{limit character.last_name 15}}
      </h3>
      <p>
        {{#if character.movie}}
          {{character.movie}}
        {{else}}
          Unknown Film
        {{/if}}
      </p>
    </div>
    <div class="col-4 char-sub item-div">
      <p>
        {{#if character.location}}
          Location: {{character.location}}
        {{else}}
          Location: YYYY
        {{/if}}
        <br />
        {{#if character.born_on}}
          Born: {{character.born_on}}
        {{else}}
          Born: YYYY
        {{/if}}
        <br />
        {{#if character.likes}}
          Likes: {{character.likes}}
        {{else}}
          Likes: Unknown
        {{/if}}
      </p>
    </div>
    <div class="col-1 item-div item-delete" data-id="{{character.id}}">
      <!-- <p class="x delete-character" data-id="{{character.id}}">X</p> -->
      <div class="btn-div col-5">
        <button class="btn btn-dark edit-character" data-id="{{character.id}}"><span class="btn-txt">e</span></button>
      </div>
      <div class="btn-div col-1"></div>
      <div class="btn-div col-5">
        <button class="btn btn-dark delete-character" data-id="{{character.id}}"><span class="btn-txt">x</span></button>
      </div>
    </div>
  </div>

{{/each}}
