{{#each characters as |character|}}
  <!-- log character -->
  <div class="char-item row pd-15" data-id="{{character.id}}">
    <div class="col-2 item-div">
      <img cleas="img-c" src="{{character.img}}" height="86px">
    </div>
    <div class="col-5 item-div">
      <h3>
        {{limit character.name 18}}
      </h3>
      <p>
        {{#if character.movie}}
          {{character.movie}}
        {{else}}
          Unknown Film
        {{/if}}
      </p>
    </div>
    <div class="col-4 item-div">
      <p>
        {{#if character.location}}
          Location: {{character.location}}
        {{else}}
          Location: YYYY
        {{/if}}
        <br />
        {{#if character.born_on}}
          Born: {{character.born_on}}
        {{else}}
          Born: YYYY
        {{/if}}
        <br />
        {{#if character.likes}}
          Likes: {{character.likes}}
        {{else}}
          Likes: Unknown
        {{/if}}
      </p>
    </div>
    <div class="col-1 item-div">
      <button class="btn btn-danger delete-character" data-id="{{character.id}}">X</button>
    </div>
  </div>

{{/each}}
